body {
    background-color: #026863;
    margin: 0;
    position: relative;
    min-height: 100dvh;
}

body::before {
    content: "";
    position: fixed;
    top: -100vh; 
    left: 0;
    width: 100%;
    height: 200vh; 
    background: radial-gradient(#027570 20%, transparent 0%),
                radial-gradient(#027570 30%, transparent 0%),
                radial-gradient(#027570 40%, transparent 0%);
    background-size: 500px 500px, 500px 500px, 400px 400px;
    background-position: 20% 100%, 230% 210%, 200% 360%;
    z-index: -1;
    animation: moveBubbles 100s linear infinite;
}

@keyframes moveBubbles {
    0% {
        background-position: 20% 100%, 230% 210%, 200% 360%;
    }
    50% {
        background-position: 20% -100vh, 230% -90vh, 200% -40vh; 
    }
    100% {
        background-position: 20% 100%, 230% 210%, 200% 360%;
    }}

main {
    margin-top: 5%;
    padding-top: 10px;
    text-align: center;
    background-color: var(--bg-secondary);
    border-radius: 15px;
    max-width: 80%;
    margin-left: 10%;
}

div {
    background-color: rgba(var(--bg-secondary-rgb), 0.5);
    color: var(--bg); 
    max-width: 80%;
    margin-left: 10%;
    position: relative;
    border-radius: 15px;
    min-height: 25rem;
    text-align: center;
    color: var(--text) ;

}

button {
    border: 1px solid var(--bg);
    height: 2.5rem;
    background-color: var(--primary);
    color: var(--bg);
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    width: 100%;
    max-width: 300px;
    display: block;
    margin: 5% auto;
    margin-top: 4rem;
}

a {
    text-decoration: none;
    color: var(--bg);
}
